<template>
    <section class="flower-list" id="flower-list">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-wrap">
                        <h1>印花攻略</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div v-for="(data, id) in all_datas" class="col-lg-4 col-sm-6 col-12">
                    <div class="main-wrap" @click="trigger_click(data.id)">
                        <div class="img-wrap">
                            <img :src="data.brand_img" alt="">
                        </div>


                        <div class="text-wrap">
                            <h3 class="brand-name">{{data.brand_name}}</h3>
                            <p class="text1" v-html="data.brand_text1"></p>
                            <p class="text2" v-html="data.brand_text2"></p>
                            <div class="link-wrap">
                                <a :class="`flower${data.id}`" :href="`#/FlowerList/${id}`">查看詳情</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="download-wrap">
                        <a target="_blank" class="bd-btn download-flowerlist" href="./src/assets/pxmart-printingList1123_sc9v2.pdf">下載印花清單</a>
                    </div>     
                </div>
            </div>
        </div>
    </section>
</template>
<script>
//import pdf from './src/assets/pxmart-printingList1123_sc9v2.pdf';
import axios from 'axios';
export default {
    data(){
		return {
			all_datas: "",
			json_src: './src/assets/json/flower-list.json'

		}
    },
    methods: {
		get_flower_datas() {
            axios.get(this.json_src).then((response) => {
                
                //console.log(response.data)
                this.all_datas = response.data;

                
                response.data.forEach((e)=>{
                    //console.log(e.id)
                    this.ga_func(".flower"+e.id, "首頁-"+e.brand_name+"-印花");
                });
	
            }, (error) => {
            	console.log(error)
            })
        },
        ga_func(class_name, name){
            $("body").on('click',class_name , function (e) {
                //alert()
                gtag('event', '點擊', {
                    'event_category': name,
                    'event_action': '點擊',
                    'event_label': '點擊次數'
                });
            });
        },
        trigger_click(id){
            $(`.flower${id}`)[0].click();
        }
    },
    mounted(){
        this.get_flower_datas();
        

        //download-flowerlist
        this.ga_func(".download-flowerlist", "首頁-下載印花清單");
		
	}
    
}
</script>
<style lang="sass">
*
    //border: 1px solid
@import "~styles/global.sass"
section.flower-list
    padding-top: 50px
    margin-bottom: 100px
    @media (max-width: 768px)
        margin-bottom: 50px
    .title-wrap
        margin-bottom: 70px
        @media (max-width: 768px)
            margin-bottom: 50px
        h1
            text-align: center
    .main-wrap
        
        padding-top: 0
        background: white
        box-shadow: 0 1px 10px rgba(black ,0.1)
        margin-bottom: 30px
        transition: .3s
        cursor: pointer
        &:hover
            background: $red
            *
                color: white
            a
                color: white !important
            .text2
                span
                    background: white
                    color: black

        .img-wrap
            // margin-left: -20px
            // margin-right: -20px
            width: 100%
            background: white
            text-align: center
            img
                width: 50%
                margin: 0 auto
        .text-wrap
            padding: 20px
            cursor: pointer

        h3
            font-size: 20px
            margin-bottom: 5px
        .text1
            font-weight: 300
        .text2
            span
                padding: 4px 10px
                margin: 0 5px
                display: inline-block
                border-radius: 5px
        p
            margin-bottom: 5px
        .link-wrap
            text-align: right
            position: relative
            top: -30px
            height: 0
            a
                color: black
                font-weight: 300
                text-decoration: underline
    .download-wrap
        margin-top: 80px
        @media (max-width: 576px)
            margin-top: 40px


</style>
