<template>
    <div style="position: relative;">
        <myheader/>
        <div class="flex-section">
            <BrandIntro/>
            <ProductIntro/>
            <flowerList/>
        </div>
        <CardDownload/>
    </div>
</template>
<script>

import myheader from './header.vue';
import BrandIntro from './BrandIntro.vue';
import ProductIntro from './ProductIntro.vue';
import FlowerList from './FlowerList.vue';
import CardDownload from './CardDownload.vue';


export default {
    data(){
        return {
            el: "test"
        }
    },
    components: {
        myheader,
        BrandIntro,
        ProductIntro,
        FlowerList,
        CardDownload
    }
}
</script>
<style lang="sass">
.flex-section
    display: flex
    flex-wrap: wrap
    z-index: -100
    section
        width: 100%
    @media (max-width: 576px)
        section:nth-child(1)
            order: 2
        section:nth-child(2)
            order: 1
        section:nth-child(3)
            order: 3



</style>
