section#flower_list
  .slick-track
    display: -webkit-box
    display: -ms-flexbox
    display: flex
  .slider-wrap
    padding: 0 50px
  .brand-slider
    border-bottom: 1px solid black
    .slick-slide
      height: auto !important
      position: relative
    a
      outline: none
      text-decoration: none
      &:before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        top: 50%
        left: 50%
        -webkit-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        z-index: -1
      &:hover:before
        -webkit-transition: .3s
        -o-transition: .3s
        transition: .3s
        background: #ebebeb
    .brand-wrap
      padding: 20px 15px
      height: 100%
      img
        width: 100%
      .name
        text-align: center
        color: black
    .slick-arrow
      width: 23px
      fill: #999
      -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.4))
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.4))
      .st0
        -webkit-transition: .3s
        -o-transition: .3s
        transition: .3s
      &:hover .st0
        fill: #b30000
    .name
      margin-top: 10px
  .bottom-list-wrap
    .main-title
      text-align: center
      padding: 30px 0
      padding-bottom: 15px
      h1
        font-size: 28px
        font-weight: 400
        line-height: 35px
      .duration
        color: #777
        font-weight: 400
    .product-list ul
      margin: 0
      padding: 0
      li
        list-style: none
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        padding: 10px 20px
        span
          display: block
          letter-spacing: 2px
        .p-name
          -webkit-box-flex: 3
          -ms-flex: 3
          flex: 3
        .p-code
          -webkit-box-flex: 1
          -ms-flex: 1
          flex: 1
          word-break: break-all
      .product-title
        font-size: 18px
        font-weight: 400
        border-bottom: 2px solid black
        margin: 0 50px
      .product
        color: #bbb
        padding: 10px 20px
        border-bottom: 1px solid #bbb
        font-weight: 300
        -webkit-transition: .3s
        -o-transition: .3s
        transition: .3s
        &:hover
          background: #ebebeb
          span
            color: black

@media (max-width: 991px)
  section#flower_list .slider-wrap
    padding: 0 30px

@media (max-width: 768px)
  section#flower_list .slider-wrap
    padding: 0 0px

@media (max-width: 576px)
  section#flower_list .bottom-list-wrap .product-list ul li
    padding: 10px 0px !important

@media (max-width: 991px)
  section#flower_list .bottom-list-wrap .product-list ul li .p-name
    -webkit-box-flex: 2
    -ms-flex: 2
    flex: 2

@media (max-width: 768px)
  section#flower_list .bottom-list-wrap .product-list ul li .p-name
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1

@media (max-width: 768px)
  section#flower_list .bottom-list-wrap .product-list ul li .p-code
    padding-left: 15px
    letter-spacing: 0px

@media (max-width: 576px)
  section#flower_list .bottom-list-wrap .product-list ul .product-title
    margin: 0 10px

@media (max-width: 576px)
  section#flower_list .bottom-list-wrap .product-list ul .product-title span
    font-size: 16px
    color: #777

@media (max-width: 576px)
  section#flower_list .bottom-list-wrap .product-list ul .product span
    font-size: 16px
    color: #000